<div class="product-smell">
  <p class="product-smell__text">
    "... riecht wie <strong class="product-smell__value">{{ product.metafields.custom.smell }}</strong>"
  </p>
</div>

<style>
  .product-smell {
    margin-bottom: 1.5rem;
    background-color: #F7F7F7;
    width: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .product-smell__text {
    margin: 0;
  }

  .product-smell__value {
    font-weight: 600;
  }
</style>
